@import "tailwindcss";

@keyframes float {
  0%,
  100% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(-12px) rotate(6deg);
  }
}

.animate-floating {
  animation: float 3s ease-in-out infinite;
}

.coin-float-0 {
  animation-delay: 0s;
}
.coin-float-1 {
  animation-delay: 0.3s;
}
.coin-float-2 {
  animation-delay: 0.6s;
}
.coin-float-3 {
  animation-delay: 0.9s;
}
.coin-float-4 {
  animation-delay: 1.2s;
}
